/* Footer */
.footer{
   margin-top: 60px;
   background-color: #f9f9f9;
   padding: 40px 0;
   background-image: 
   url("../images/tire-left.svg"),
   url("../images/tire-right.svg");
   background-repeat: no-repeat;
   background-position: 
   left -50px bottom -80px,
   right -50px bottom -80px;
   text-align: center;

   &__contacts{
      margin: 25px 0;
      text-align: center;
      color: #585858;
      font-weight: 700;
      font-size: 12px;
      font-style: normal;

      p{
         margin: 0 0 5px;
      }

      a{
         color: inherit;
         text-decoration: none;

         &:hover{
            text-decoration: underline;
         }

      }

   }

   &__nav{
      font-size: 12px;

      a{
         margin: 0 5px;
         color: #004af2;
         text-decoration: none;

         &:hover{
            text-decoration: underline;
         }

      }

   }

}