/* Intro */
.intro{
   
   margin-bottom: 30px;
   position: relative;

   &--blog{
      height: 350px;
      background: url('../images/blog-bg.jpg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
   }

   &--text{
      height: 350px;
      background: url('../images/text-bg.jpg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
   }

   &__slider{
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      width: 100%;
      height: 100%;
      overflow: hidden;
      background: #04222a url("../images/slider/slide-1.jpg") no-repeat center;
      background-size: cover; 

      &.slick-initialized{
         background: #04222a;

         & .slider-item{
            display: block;
         }
      }

      &__slider .slider-item{
         display: none;
      } 

      &-item{
         width: 100%;
         height: 100%;
         background-position: center;
         background-repeat: no-repeat;
         background-size: cover;
      }

      &-photo{
         width: 100%;
         height: 100%; 
         display: block;
         object-fit: cover;
         object-position: center;
      }

      &-arrows{
         position: absolute;
         bottom: 30px;
         left: 430px;
      }

      &-btn{
         width: 0;
         height: 0;
         padding: 0;
         background: none;
         cursor: pointer;
         color: transparent;
         font-size: 0;
         margin: 0 4px;
         
         &:focus{
            outline: none;
         }

         &--prev{
            border-style: solid;
            border-width: 10px 10px 10px 0;
            border-color: transparent #ffffff transparent transparent;
         }

         &--next{
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 10px 0 10px 10px;
            border-color: transparent transparent transparent #ffffff;
         }

      }

   }

   &__inner{
      height: 600px;
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      position: relative;
      z-index: 2;
   }

   &__text{
      text-align: right;
      margin-bottom: 45px;
   }

   &__countries{
      font-size: 16px;
      color: #fff;
   }

   &__title{
      position: relative;
      font-family: 'Lato', sans-serif;
      font-weight: 700;
      font-size: 110px;
      line-height: 0.9;
      color: rgba(255, 255, 255, 0.8);

      &-amp{
         position: absolute;
         right: 0;
         top: 50%;
         transform: translateY(-50%);
         font-size: 170px;
         line-height: 1;
         font-weight: 900;
         color: rgba(255, 255, 255, 0.2);
      }

   }
   
}

.request-form{
   max-width: 400px;
   background: #004AF2;
   width: 100%;
   border-radius: 5px;
   overflow: hidden;

   &--intro{
      position: relative;
      bottom: -30px;
   }

   &__header{
      background: #033fc9;
      padding: 20px 30px;  
   }

   &__title{
      font-family: 'Lato', sans-serif;
      font-size: 30px;
      font-weight: 900;
      color: #FFF;
      margin-bottom: 5px;
   }

   &__text{
      color: #fff;
      font-size: 16px;
      line-height: 1.4;
   }

   &__content{
      padding: 30px;
   }

}

.intro__slider .slick-list,
.intro__slider .slick-track{
   height: 100%;
}




